[Desktop Entry]
Name=Bt Builder
Comment=Turn based role-playing game builder and engine
TryExec=btbuilder
Exec=btbuilder %f
Terminal=false
Type=Application
Icon=btbuilder
Categories=Game;

